.coke-product{
    width: 100%;
    height: 900px;
}
.coke-header{
    background-image: url('./assets/homePage/coke_head.png');
    width: 100%;
    height: 140px;
    background-size: cover;
}
.coke-item{
    display: flex;

}
.coke-item img{
    max-width: 600px;
    margin-left: 19vw;
    border-left: calc(.25rem, 1px);
}
.coke-text{
    font-family: U-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-top: 5vw;
    margin-left: 10vw;
}
h3{
    line-height: 0px;
    font-size: 20px;
    color: rgb(244, 0, 0);
}
.coke-text-long{
    white-space: pre-line;
    line-height: 40px;
    font-size: 40px;
}
.h1{
    line-height: 0;
    font-weight: bold;
}
p{
    width: 260px;
    font-size: 20px;
}
.coke-btn-fake{
    font-size: 30px;
    margin-top: 3vw;
    margin-left: 1vw;
    font-weight: bold;
    width: 200px;
    text-align: center;
    background-color: rgb(244, 0, 0);
    padding: 5 25px;
    color: white;
    border-radius: 30px;
    border: 2px solid red;
    cursor: pointer;
}