@font-face {font-family: "Sofia Pro Black"; src: url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.eot"); src: url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.woff") format("woff"), url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.svg#Sofia Pro Black") format("svg"); }
h1{
    margin-top: 5px;
    padding : 0;
}
.mirinda-bottom{
    position: relative;
    width: 100%;
    height: 1200px;
    background-color: #f68d31;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.mirinda-bottom-head{
    background-image: url('./assets/homePage/home_header_bottom.png');
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
}
.header{
    color: white;
    font-size: 30px;
    font-family: "Sofia Pro Black", Helvetica Neue, Helvetica, Arial, sans-serif ;
    text-align: center;
    align-items: center;
    top: 10vw;
    position: absolute;
    width: 100%;
    height: 200px;
}
.mirinda-item{
    gap: 50px;
    margin-top: 5vw;
    display: flex;
}
.mirinda-item img{
    cursor: pointer;
    width: 600px;
}
.mirinda-item img:hover{
    transform: scale(1.2);
}
