.schwepp-product{
    width: 100%;
    background-position: top center;
    height: 700px;
    background-size: cover;
}
.schwepp-header{
    background-image: url('./assets/homePage/bubbles.png');
    width: 100%;
    height: 200px;
}
.schwepp-item img{
    margin-bottom: 5vw;
    max-width: 145px;
    min-height: 200px;
}
.schwepp-item{
    margin-top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 3vw;
}
.schwepp-can{
    margin-top: 3vw;
    height: 420px;
}
.schwepp-bottom{
    width: 100%;
    height: 300px;
}