@font-face {font-family: "Sofia Pro Black"; src: url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.eot"); src: url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.woff") format("woff"), url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.svg#Sofia Pro Black") format("svg"); }


.container{
    gap: 0;
    font-family: "Sofia Pro Black", Helvetica Neue, Helvetica, Arial, sans-serif ;
    display: flex;
    background-image: url("../assets/homePage/Desktop_Background.png");
    width: 100%;
    background-position: 50% center;
    justify-content: space-evenly;
}


.container-item img{
    padding: 20px;
    margin: 5px;
}
.container-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-item-column{
    flex-direction: column;
}
.container-text{
    color: white;
    font-size: 23px;
}
.container-button{
    cursor: pointer;
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    padding: 5px 25px;
    margin-top: 30px;
}