.box-profiles{
    background-color:rgb(60, 64, 72);
    height: 100px;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-box{
    padding-left: 10px;
    text-align: center;
    height: auto;
    width: auto;
    color: black;
}