.box-profiles{

    height: 100px;
    margin-left: 2vw;
    margin-right: 10vw;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-box{
    padding-left: 10px;
    text-align: center;
    height: auto;
    width: auto;
    color: black;
}